#bandeau{
    text-align: center;
    background-color : black;
    width : 100%;
}


.hyperlien2 {
    padding: 0;
    width: 100%;
  }
  
  li.entete {
    display: inline;
  }
  
  .stylelien {
    outline: none;
    text-decoration: none;
    display: inline-block;
    width: 11%;
    margin-right: 0%;
    text-align: center;
    line-height: 4;
    color: black;
  }
  
  li.entete:last-child a {
    margin-right: 0;
  }
  
  .stylelien:link, .stylelien:visited, .stylelien:focus {
    background: Grey;
  }
  
  .stylelien:hover {
    background: red;
  }
  
  .stylelien:active {
    background: red;
    color: white;
  }

#Image1 {
    float:right;
}
#texte1{
font-family : Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
text-align: center; 
 
}
#Image2 {
  float:left;
}
.CorpsActeur{
  height:200px;

}
.CorpsActeur2{
  height:273px

}
.Synopsis{
  font-family : Century Gothic;
  text-align: left;
  width:33%;
  float:left;
}
.Synopsis2{
  font-family : Century Gothic;
  text-align: right;
  width:33%;
  float :right;
}
.img{
  height:274px;
  width:184px;
  margin-left: auto;
  margin-right: auto;
}
.texte{
  width : 70%;float : left;padding-left : 20px
}
div.photo{float : right}
li.cv{width:100%}
li.cv2{width : 100% ; outline : none}
ul.cv2{list-style-type: none;}
